version: '3.8'

services:
  site:
    build:
      dockerfile: Dockerfile.prod
    image: site:latest
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    ports:
      - "3000:3000"
