services:
  site:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: site:latest
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: unless-stopped