services:
  site:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: site:latest
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: unless-stopped

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

networks:
  default:
    name: screenshot-network
    external: true

volumes:
  redis_data:
