@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";
@import "./styles/fonts.css";
@source inline('col-start-{1..12}');
@source inline('col-span-{1..12}');
@source inline('row-start-{1..12}');
@source inline('row-span-{1..12}');
:root {
  --background: #ffffff;
  --foreground: #000000;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1rem; /* Ensure body text scales with the root font size */
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
