:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html {
  font-size: 12px; /* Adjust this value to make the default font size smaller */
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1rem; /* Ensure body text scales with the root font size */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.centered-horizontally {
  display: flex;
  justify-content: center;
  align-items: center;
}
