@layer utilities {
  .text-2xl,
  h1 {
    font-size: clamp(2.618rem, 8vw, 4rem);
    font-weight: 800;
  }

  .text-xl,
  h2 {
    font-size: clamp(1.618rem, 6vw, 2.5rem);
    font-weight: 600;
  }

  .text-lg,
  h3 {
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 600;
  }

  .text-base,
  body {
    font-size: clamp(1rem, 2vw, 1.125rem);
    font-weight: 400;
  }

  .text-sm {
    font-size: clamp(0.618rem, 1.5vw, 0.875rem);
    font-weight: 200;
  }

  .text-xs {
    font-size: clamp(0.618rem, 1.5vw, 0.875rem);
    font-weight: 200;
  }
}
