.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  height: 100%;
}

.top {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
